# Q1

In [ ]:
# To sort the given list of tuples based on integer value

In [40]:
lst = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]


sorting_the_lst = sorted(lst, key=lambda x: x[1], reverse=True)


print(sorting_the_lst)

[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

# Q2

In [2]:
# To Print Square of all the numbers given inside the list

In [1]:
lis=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
a=list(map(lambda x:x**2 , lis))
print(a)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# Q3

In [4]:
# To convert a given list into string within a tuple

In [3]:
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
c=tuple(map(lambda x:str(x),l))
print(c)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

# Q4

In [5]:
# Product of list from 1 to 25 using reduce function

In [7]:
from functools import reduce

In [8]:
lot = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
r = reduce(lambda x,y:x*y , lot)
print(r)

15511210043330985984000000

# Q5

In [41]:
# To filter a list of numbers divisible by 3 and 2 both from a goven list

In [20]:
fil=[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
q=list(filter(lambda x: x if x%2==0 and x%3==0 else print(f"{x} is Not divisible by 2 and 3 both"), fil))

2 is Not divisible by 2 and 3 both
3 is Not divisible by 2 and 3 both
9 is Not divisible by 2 and 3 both
27 is Not divisible by 2 and 3 both
55 is Not divisible by 2 and 3 both
46 is Not divisible by 2 and 3 both

In [21]:
print(q)

[6, 60, 90, 120]

# Q6

In [39]:
# To filter palindrome from the given list

In [38]:
yo=['python', 'php', 'aba', 'radar', 'level']
list(filter(lambda x: x == x[::-1] , yo ))

['php', 'aba', 'radar', 'level']