# Assignment 16

# Q1

A database is a structured collection of data that is organized in a way that allows for efficient storage, retrieval, and management of information. Databases are used in a variety of applications and industries

 The main differences between the two are:

Data Model: SQL databases use a relational data model, which organizes data into tables with rows and columns, and enforces strict relationships between them through foreign keys. NoSQL databases, on the other hand, use a non-relational data model, where data can be stored in various formats such as key-value, document-oriented, graph, or column-family.

Schema: SQL databases require a predefined schema that specifies the structure of the data, including the types of data and relationships between tables. NoSQL databases are schemaless, meaning they do not have a predefined schema and can adapt to changing data models.

Scalability: SQL databases are vertically scalable, meaning they can be scaled by adding more hardware resources such as CPU, memory, and storage to a single server. NoSQL databases are horizontally scalable, meaning they can be scaled by adding more servers to a distributed system, which can increase processing power and storage capacity.

Query Language: SQL databases use SQL as the standard query language, which is used to create, modify, and query data. NoSQL databases do not have a standardized query language, and each database may use its own query language.

# Q2

DDL (Data Definition Language) is a subset of SQL (Structured Query Language) used to define the structure of a database and the objects within it. DDL statements are used to create, modify, and delete database objects such as tables, views, indexes, and procedures

CREATE

In [ ]:
CREATE TABLE customers (
    id INT PRIMARY KEY,
    name VARCHAR(255),
    email VARCHAR(255)
);

DROP

In [ ]:
DROP TABLE customers;

ALTER

In [ ]:
ALTER TABLE customers ADD COLUMN phone VARCHAR(20);

TRUNCATE

In [ ]:
TRUNCATE TABLE customers;

# Q3

DML (Data Manipulation Language) is a subset of SQL (Structured Query Language) used to manipulate the data within a database.

INSERT

In [ ]:
INSERT INTO customers (id, name, email) VALUES (1, 'ayan', 'ayan@hotmail.com');

UPDATE

In [ ]:
UPDATE customers SET email = 'jane.doe@example.com' WHERE id = 1;

DELETE

In [ ]:
DELETE FROM customers WHERE id = 1;

# Q4

DQL (Data Query Language) is a subset of SQL (Structured Query Language) used to retrieve data from a database. DQL statements are used to query data from tables.

SELECT: The SELECT statement is used to retrieve data from one or more tables in a database.

In [ ]:
SELECT * FROM customers;  #ways to use select

In [ ]:
SELECT name, email FROM customers;  #ways to use select

In [ ]:
SELECT * FROM customers WHERE id = 1; # ways to use select

# Q5

A Primary Key is a column or set of columns in a table that uniquely identifies each row in the table. Primary keys are used to ensure that each row in a table is unique and to provide a way to reference individual rows from other tables. A primary key is also used to enforce data integrity by preventing duplicate rows or null values from being inserted into a table.

A Foreign Key, on the other hand, is a column or set of columns in a table that references the primary key of another table. The foreign key establishes a relationship between the two tables, and ensures that the data in the referencing table is consistent with the data in the referenced table. The foreign key column in the referencing table must have the same data type as the primary key column in the referenced table.

# Q6

In [ ]:
import mysql.connector

# connect to the database
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password",
  database="database"
)

mycursor = mydb.cursor()


mycursor.execute("SELECT * FROM customers")


results = mycursor.fetchall()

#  Q7

In [ ]:
The order of execution of clauses in MYSQL is